<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="false" stdoutLogEnabled="false" />
  </system.webServer>
  <appSettings>
    <!--<add key="connStr" value="Data Source=46.164.136.78,1533;User ID=cms;Password=Kyiv_2016;Pooling=true;Initial Catalog=" />-->
    <add key="connStr" value="Data Source=192.168.1.25,1533;User ID=cms;Password=Kyiv_2016;Pooling=true;Initial Catalog=" />
  </appSettings>
</configuration>